
html{font-size: 62.5%;
}
body{
    background-color: #eff0f4;
    margin: 0;
    min-width: 300px;
}
header{
    color: white;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
    background-color: #5fc0cd;
}
header a:link,header a:visited{
    color: #FFFFFF;
}
header a:hover{color: blue;}
header a{
    text-decoration: none;
}
main a:link,main a:visited{
    color:grey;
}
main a:hover{color: red;}
input{outline: none;}
.link1{
    font-size: 1.5rem;
    position: absolute;
    left: 1.5rem;top: 0;
}
.text{
    font-size: 2.5rem;
    margin: auto;
}
.link2{
    font-size: 1.5rem;
    position: absolute;
    right: 1.5rem;top: 0;
}
.form{
    width: 100%;
    height: 5rem;
    background-color: white;
    margin:1rem 0;
    display: flex;
    align-items: center;
}
.form-img{
    position: absolute;
    width: 15%;
    align-items: center;
    text-align: center;
    margin: auto;
    border-right: 1px solid #5ef4be;
}
.img{
    width: 2rem;
}
.input{
    font-size: 2rem;
    position: absolute;
    left: 16%;
    border: none;
}
.submit button{
    width: 100%;
    height: 5rem;
    background-color: #5fc0cd;
    margin: 1rem 0;
    font-size: 2.5rem;
}
.link3{
    position: absolute;
    right: 5%;
    font-size: 2rem;
}