.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
  max-width: 768px;
}
* {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: red;
}
li {
  list-style: none;
  white-space: nowrap;
}
button {
  cursor: pointer;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}
body header {
  position: fixed;
  max-width: 768px;
  top: 0;
  width: 100%;
  background: #29bde0;
  border-bottom: #74d4eb 1px solid;
  font-size: 2rem;
}
body header img {
  width: 2.5rem;
}
body header div {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main {
  margin: 4.5rem auto 7.5rem;
}
body main .result {
  padding: 1rem 10%;
  background: #29bde0;
}
body main .result img {
  width: 10rem;
  margin: 0 auto;
  display: block;
}
body main .result p {
  color: #ffc865;
  font-size: 2rem;
  line-height: 3rem;
}
body main .result > ul {
  line-height: 2rem;
  color: white;
  font-size: 1.2rem;
  overflow: hidden;
}
body main .result > ul > li {
  display: flex;
  justify-content: space-between;
}
body main .result > ul > li ul {
  display: flex;
  width: 6rem;
}
body main .result > ul > li ul li:first-child {
  width: 4rem;
  text-align-last: justify;
}
body main .process ul {
  padding: 1rem 10%;
  position: relative;
  font-size: 1.5rem;
  border-bottom: 1px solid #ddd;
}
body main .process ul li {
  color: #a6a6a6;
}
body main .process ul li .date {
  color: #515151;
}
body main .process ul li .time {
  color: #c7c7c7;
  position: absolute;
  right: 10%;
}
body footer {
  width: 100%;
  position: fixed;
  max-width: 768px;
  bottom: 0;
  background-color: rgba(153, 223, 240, 0.5);
}
body footer div a:first-child button {
  float: left;
  margin-left: 10%;
  background: #f66f6f;
  width: 35%;
  color: white;
  margin: 1rem auto;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  white-space: nowrap;
  font-size: 2rem;
}
body footer div a:last-child button {
  float: right;
  margin-right: 10%;
  background: #fbb435;
  width: 35%;
  color: white;
  margin: 1rem auto;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  white-space: nowrap;
  font-size: 2rem;
}
