.nav-header {
  background-color: #29B078;
  padding: 1rem 0;
}
.nav-header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-header .nav .nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-header .nav .nav-brand img {
  width: 25rem;
}
@media screen and (max-width: 375px) {
  .nav-header .nav .nav-brand img {
    width: 20rem;
  }
}
.nav-header .nav .nav-button-border {
  display: none;
  margin: auto 0;
  padding: 1rem;
  border: 0.1rem solid #3fb886;
}
.nav-header .nav .nav-button-border label {
  display: inline-block;
  padding: 0.3rem 0;
  width: 2rem;
  height: 0.5rem;
  border-top: 0.5rem solid #94d8bc;
  border-bottom: 0.5rem solid #94d8bc;
  background: #94d8bc;
  background-clip: content-box;
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-button-border {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-header .nav .nav-text {
  flex-grow: 1;
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text li .nav-link {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text {
    flex-basis: 100%;
  }
}
.nav-header .nav .nav-text .navbar-nav {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text .navbar-nav {
    margin: auto -15px;
  }
}
.nav-header .nav .nav-text .navbar-nav li {
  margin-left: 10px;
  padding: 0 5px;
}
.nav-header .nav .nav-text .navbar-nav li .nav-link {
  padding: 0;
  color: #ffffff;
  white-space: nowrap;
}
.nav-header .nav .nav-text .navbar-nav li:hover {
  border-bottom: 0.02rem solid #ffffff;
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text .navbar-nav li {
    margin-left: 0;
  }
}
@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text .navbar-nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 575px) {
  .nav-header .nav #nav-button:checked ~ .nav-text .nav-link {
    display: flex;
    justify-content: center;
  }
}
