/*tree*/
.tree {
  margin: 3rem 0;
  font-size: 1.3rem;
}
.tree .tou {
  color: #000000;
}
.tree .text-success {
  color: #29b078;
}
/*头部文字*/
.text-career {
  padding: 2rem 0;
  margin: 0;
  border-bottom: 1px #d0d6d9 solid;
  border-top: 1px #d0d6d9 solid;
  word-break: keep-all;
}
.text-career .special-color-1 {
  color: #a1a1a1;
}
.text-career span a {
  color: #000000;
  margin: 0 1.5rem;
  padding: 0 0.5rem;
  text-decoration: none;
}
.text-career span a:hover {
  background: #29b078;
  color: #fff;
}
.text-direction {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px #d0d6d9 solid;
  height: 8rem;
}
/*职业表单*/
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 0;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.infor {
  height: 50rem;
  padding: 0;
  margin-top: 3rem;
  box-shadow: 3px 3px 3px #eeeded;
  position: relative;
  overflow: hidden;
  /*IOS工程师简介*/
}
.infor > div {
  border-top: 1px #edf1f2 solid;
  padding: 0;
}
.infor .row-one {
  border-top: none!important;
}
.infor .row-one .zhiye {
  float: left;
  padding: 1rem;
}
.infor .row-one .introduce {
  padding-top: 1rem;
  padding-left: 15rem;
}
.infor .row-one .introduce h5 {
  padding: 0;
}
.infor .row-one .introduce > span {
  word-wrap: break-word;
  word-break: break-all;
}
.infor p {
  padding: 1rem;
  margin: 0;
}
.infor .row-two div,
.infor .row-three div {
  padding: 0;
}
.infor .row-two .row-two-right,
.infor .row-three .row-two-right,
.infor .row-two .row-three-right,
.infor .row-three .row-three-right {
  border-left: 1px #edf1f2 solid;
}
.infor .row-four {
  display: flex;
  align-items: center;
}
.infor .row-four > div {
  padding: 0;
}
.infor .row-four .row-four-right {
  border-left: 1px #edf1f2 solid;
}
.infor .row-four .row-four-right > div {
  padding: 0;
}
.infor .row-four .row-four-right > div .border {
  border-bottom: 1px #edf1f2 solid;
  border-top: 1px #edf1f2 solid;
}
.infor .row-four .row-four-right p {
  display: flex;
  justify-content: space-between;
}
.infor .row-four .row-four-left {
  text-align: center;
}
.infor .special-color-2 {
  color: #a9a9a9;
}
.infor .bg-infor {
  height: 50rem;
  padding: 0 5rem;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  top: -50.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-align: justify;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.infor:hover .bg-infor {
  top: 0rem;
}
main {
  margin-bottom: 10rem;
}
